.acknowledgment-container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .acknowledgment-container h2 {
    color: #4caf50;
  }

  .acknowledgment-container p {
    color: #555;
    font-size: 1.2rem;
  }
/* AcknowledgmentPage.css */

.acknowledgment-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .application-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .application-details li {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .message-form {
    margin-top: 20px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus {
    outline: none;
    border-color: #4CAF50;
  }
  
  .message-form button {
    margin-top: 10px;
    background-color: #008CBA;
  }
  
  .message-form button:hover {
    background-color: #007bb5;
  }
  